{% extends "admin/base.html" %}

{% block title %}
Admin items - TIENDA-shop
{% endblock %}

<script src="https://js.stripe.com/v3/"></script>
{% block content %}
{% with msgs = get_flashed_messages(with_categories=True) %}
{% for c, msg in msgs %}
{% if c == 'error' %}
<div class="flash-error">
	{% else %}
	<div class="success">
		{% endif %}
		{{ msg }}</div><br>
	{% endfor %}
	{% endwith %}

	{% if not items %}
	<div class="flash-error">No hay Items.</div>
	<div class="d-flex justify-content-end mb-3">
	  <div class="add-new btn-success btn">
		 <a href="{{ url_for('admin.add') }}" class="text-light">New Item
            <i class="bi bi-database-fill-add"></i>
		 </a>
	  </div>
	</div>
	{% else %}
	<div class="d-flex justify-content-end mb-3">
	   <div class="add-new btn-success btn">
		  <a href="{{ url_for('admin.add') }}" class="text-light">New Item
			<i class="bi bi-database-fill-add"></i>
		  </a>
	   </div>  
	</div>
	<div class="table-responsive">
		<table id="items-table" class="table table-striped table-hover">
			<thead class="thead-dark">
				<tr>
					<th>Item id</th>
					<th>Nombre</th>
					<th>Precio</th>
					<th>Costo</th>
					<th>Stock</th>
					<th>Categoria</th>
					<th>Detalles</th>
					<th>Operaciones</th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
				<tr>
					<td>{{ item.id }}</td>
					<td>{{ item.name }}</td>
					<td>{{ item.price }}</td>
					<td>{{ item.costo }}</td>
					<td>{{ item.stock }}</td>
					<td>{{ item.category }}</td>
					<td>{{ item.details[:40] | safe }}...</td>
					<td>
						<a href="{{ url_for('admin.edit', type='item', id=item.id) }}"><i class="bi bi-pencil-square text-success"></i></a>
						<a href="{{ url_for('admin.delete', id=item.id) }}" onclick="return confirm('¿Estás seguro de que deseas eliminar este artículo?');"><i class="bi bi-trash3 text-danger"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				// Inicializar DataTables
				var table = $('#items-table').DataTable({
					"lengthMenu": [5, 10, 25, 50],
					"ordering": true,
					"searching": true,
					"paging": true,
					"info": true,
					"columnDefs": [
            {
             "targets": 0, // Índice de la columna "Order ID"
             "visible": false, // Oculta la columna
             "searchable": false // También evita que sea buscable
            }
           ]
				});
			});
		</script>
		{% endif %}

		{% endblock %}