{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <!-- Incluye DataTables CSS y JS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
  
  <!-- Incluir jQuery 3.6.0 desde CDN -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
     integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
  
  <!-- Incluye Botones Bootstrap CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-switch-button/css/bootstrap-switch-button.min.css" rel="stylesheet">

  <title>{% block title %} {% endblock %}</title>
  
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="{{ url_for('home') }}" data-toggle="tooltip" title="Inicio">
      <i class="bi bi-shop"></i> TIENDA-Shop
    </a>

    
    <ul class="navbar-nav d-flex flex-row">
     <!-- Formulario de búsqueda siempre visible -->
     {% if request.endpoint == 'home' %}
     <form class="form-inline d-flex ml-auto mr-3">
       <input class="form-control" type="search" name="query" id="search-input" placeholder="Buscar" size="30" autocomplete="off">
     </form>
     {% endif %}
  
   <!-- Botones visibles siempre -->
    <div class="d-flex ml-auto justify-content-center">
      {% if not current_user.is_authenticated %}
      <a class="btn btn-outline-primary mr-2 {% if request.endpoint == 'login' %}active{% endif %}" href="{{ url_for('login') }}">Iniciar Sesión</a>
      <a class="btn btn-outline-primary {% if request.endpoint == 'register_admin' %}active{% endif %}" href="{{ url_for('register_admin') }}">Registrarse</a>
      {% else %}
      <li class="nav-item mr-2 {% if request.endpoint == 'orders' %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('orders') }}" data-toggle="tooltip" title="Órdenes">
          <div class="icon-circle">
            <i class="bi bi-bell"></i>
          </div>
        </a>
      </li>
      <li class="nav-item mr-2 {% if request.endpoint == 'cart' %}active{% endif %}">
      <a class="nav-link" href="{{ url_for('cart') }}" data-toggle="tooltip" title="Carrito">
         <div class="icon-circle">
          <i class="fa fa-shopping-cart"></i>
        </div>
      </a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link" href="{{ url_for('membership_plans') }}" data-toggle="tooltip" title="FAQ">
          <div class="icon-circle">
            <i class="bi bi-question-circle-fill"></i>
          </div>
        </a>
      </li>
      <div class="dropdown ml-auto">
        <a class="btn btn-outline-primary dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-circle"></i> {{ current_user.name }}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          {% if current_user.admin == 1 %}
          <a class="dropdown-item" href="{{ url_for('admin.dashboard') }}">Admin</a>
          {% endif %}
          <a class="dropdown-item text-danger" href="{{ url_for('logout') }}">Salir</a>
        </div>
      </div>
      {% endif %}
    </div>
   </ul>
  </nav>  

  <div class="container">
    <div class="main">
      {% block content %}
      {% endblock %}

     <!-- Botón flotante de Telegram -->
     <a href="https://t.me/soporte" target="_blank" class="telegram-float">
       <i class="fa fa-telegram fa-2x"></i> Soporte
     </a>
    </div>
  </div>
  <footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3">
      © {{ now.year }} Copyright:
      TIENDA-Shop
    </div>

  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>

  <script>
    $(document).ready(function () {
      $('.table').DataTable({
        "lengthMenu": [5, 10, 25, 50],
        "ordering": true,
        "searching": true,
        "paging": true,
        "info": true,
        "columnDefs": [
      {
        "targets": 0, // Índice de la columna "Order ID"
        "visible": false, // Oculta la columna
        "searchable": false // También evita que sea buscable
      }
    ]
      });
    });


    document.addEventListener('DOMContentLoaded', function () {
      const searchInput = document.getElementById('search-input');
      const searchResults = document.getElementById('search-results');

      searchInput.addEventListener('input', function () {
        const query = searchInput.value.trim();

        // Solo buscar si hay al menos un carácter
        if (query.length > 0) {
          fetch(`/search?query=${encodeURIComponent(query)}`)
            .then(response => response.text())
            .then(data => {
              // Muestra los resultados de la búsqueda en el contenedor
              searchResults.innerHTML = data;
            })
            .catch(error => console.error('Error en la búsqueda:', error));
        } else {
          // Si no hay búsqueda, limpia los resultados
          searchResults.innerHTML = '';
        }
      });
    });

  </script>

  <!-- Enlazar el archivo JS que maneja el comportamiento del botón -->
  <script src="{{ url_for('static', filename='styles.js') }}"></script>
</body>

</html>