{% extends "base.html" %}

{% block title %}
Contraseña cambiada - CuBaro
{% endblock %}

{% block content %}
<div class="row justify-content-center mt-0">
    <img id="logoAnimated" src="{{ url_for('static', filename='img/logoo.png') }}" height="100" width="150">
  </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-3">
                    <div class="card-header bg-success text-white text-center">
                        <h3>¡Contraseña actualizada!</h3>
                    </div>
                    <div class="card-body text-center">
                        <p>Tu contraseña ha sido cambiada exitosamente.</p>
                        <a href="{{ url_for('login') }}" class="btn btn-primary mt-2">Ir al inicio de sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
