{% extends "base.html" %}

{% block title %}
Confirmar Contraseña | CuBaro
{% endblock %}

{% block content %}
<div class="row justify-content-center mt-0">
    <img id="logoAnimated" src="{{ url_for('static', filename='img/logoo.png') }}" height="100" width="150">
  </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-3">
                    <div class="card-header bg-success text-white text-center">
                        <h3>¡Contraseña actualizada!</h3>
                    </div>
                    <div class="card-body text-center">
                        <p>Tu contraseña ha sido cambiada exitosamente.</p>
                        <a href="{{ url_for('login') }}" class="btn btn-primary mt-2">Ir al inicio de sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
Swal.fire({
    title: '¡Cambio de Contraseña!',
    html: `
        <div style="font-size: 1.6em; font-weight: bold; color: #0056b3; background: #f0f8ff; padding: 10px; border-radius: 10px; display: inline-block;">
            <p>Tu <strong>contraseña fue cambiada exitosamente</strong></p>
        </div>
        <br><br>`,
    icon: 'success',
    allowOutsideClick: false,
    showConfirmButton: false, // Oculta el botón "Aceptar"
    allowEscapeKey: false,
    timer: 3000,  // Cierra el SweetAlert después de 3 segundos
    /* didOpen: () => {
        Swal.close(); // Cierra el SweetAlert
        window.location.href = "{{ url_for('login') }}"; // Redirige
         
    } */
});
</script>

{% endblock %}
