{% extends "base.html" %}

{% block title %}
Restablecer Contraseña - CuBaro
{% endblock %}

{% block content %}

<div class="row justify-content-center mt-0">
    <img id="logoAnimated" src="{{ url_for('static', filename='img/logoo.png') }}" height="100" width="150">
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-2">
                <div class="card-header bg-primary text-white text-center">
                    <h3>Restablecer Contraseña</h3>
                </div>

                <div class="card-body">
                    <form method="POST" action="{{ url_for('forgot_password') }}">
                        {{ form.hidden_tag() }}

                        <div class="form-group">
                            {{ form.email.label }}
                            {{ form.email(class="form-control") }}
                            {% if form.email.errors %}
                            <div class="text-danger">
                                {% for error in form.email.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>

                        {% if user %}
                            {% if user.admin %}
                                <div class="form-group">
                                    {{ form.master_key.label }}
                                    {{ form.master_key(class="form-control") }}
                                    {% if form.master_key.errors %}
                                    <div class="text-danger">
                                        {% for error in form.master_key.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="form-group">
                                    {{ form.reset_code.label }}
                                    {{ form.reset_code(class="form-control") }}
                                    {% if form.reset_code.errors %}
                                    <div class="text-danger">
                                        {% for error in form.reset_code.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}

                        <div class="form-group text-center">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </form>
                    <p class="text-center">
                        <a href="{{ url_for('login') }}">Volver al inicio de sesión</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% with mensajes = get_flashed_messages(with_categories=true) %}
{% if mensajes %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        {% for categoria, mensaje in mensajes %}
        Swal.fire({
            title: '{{ "¡Éxito!" if categoria == "success" else "Información" if categoria == "info" else "Error" }}',
            html: '{{ mensaje | safe }}',
            icon: '{{ "success' if categoria == 'success' else 'info' if categoria == 'info' else 'error" }}',
            confirmButtonText: 'OK',
            customClass: {
                confirmButton: 'btn btn-primary'
            },
            buttonsStyling: false
        });
        {% endfor %}
    });
</script>
{% endif %}
{% endwith %}

{% endblock %}