{% extends "base.html" %}

{% block title %}
    {{ item.name }} - CuBaro
{% endblock %}

{% block content %}
    {% with msgs = get_flashed_messages(with_categories=True) %}
    {% for c, msg in msgs %}
        {% if c == 'error' %}
            <div class="flash-error">
        {% else %}
            <div class="success">
        {% endif %}
            {{ msg | safe }}
        </div><br>
    {% endfor %}
    {% endwith %}

    <div class="item-display">
        <div class="img-wrapper">
            {% if item.stock > 0 %}
                <img src="{{ item.image }}" class="pic">
            {% else %}
                <img src="{{ url_for('static', filename='uploads/agotados.png') }}" class="pic">
            {% endif %}
        </div>
        <b>{{ item.name }}</b>
        <span class="right-item">{{ item.price }} CUP</span><br>
        <i class="fa fa-star checked"></i>
        <i class="fa fa-star checked"></i>
        <i class="fa fa-star checked"></i>
        <i class="fa fa-star checked"></i>
        <i class="fa fa-star checked"></i>
        <span class="text-muted">Quedan ({{ item.stock }})</span>
        <div class="details">{{ item.details | safe }}</div>

        {% if item.stock > 0 %}
        <form action="{{ url_for('add_to_cart', id=item.id) }}" method="POST">
            <div class="quantity-container">
                Cantidad:
                <!-- Botón de restar (rojo) -->
                <button type="button" id="decrease" class="btn btn-danger">-</button>

                <!-- Input de cantidad -->
                <input type="number" value="1" name="quantity" id="quantity" min="1" max="{{ item.stock }}"
                oninput="if(this.value > {{ item.stock }}) this.value = {{ item.stock }};" required>

                <!-- Botón de sumar (verde) -->
                <button type="button" id="increase" class="btn btn-success">+</button>

            </div>
            <strong style="color: red;"><span class="sub-total ml-4" id="subtotal">Subtotal: {{ item.price }} CUP</span></strong>
            <br>
            <input type="submit" class="add-to-cart" value="Añadir al Carro" name="add">
        </form>
        <a type="button" class="mt-2 btn btn-outline-info" href="{{ url_for('home') }}">Regresar a la Página de Artículos</a>
        {% else %}
        <p class="text-muted">Este producto está agotado</p>
        {% endif %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const quantityInput = document.getElementById('quantity');
            const subtotalSpan = document.getElementById('subtotal');
            let price = parseFloat({{ item.price }}); // Asegura que price es un número

            const increaseButton = document.getElementById('increase');
            const decreaseButton = document.getElementById('decrease');

            // Asegúrate de que la cantidad no exceda el stock disponible
            increaseButton.addEventListener('click', function() {
                let currentQuantity = parseInt(quantityInput.value);
                if (currentQuantity < {{ item.stock }}) {
                    quantityInput.value = currentQuantity + 1;
                    let subtotal = quantityInput.value * price;
                    subtotalSpan.textContent = `Subtotal: ${subtotal} CUP`;
                }
            });

            decreaseButton.addEventListener('click', function() {
                let currentQuantity = parseInt(quantityInput.value);
                if (currentQuantity > 1) {
                    quantityInput.value = currentQuantity - 1;
                    let subtotal = quantityInput.value * price;
                    subtotalSpan.textContent = `Subtotal: ${subtotal} CUP`;
                }
            });

            // Actualizar el subtotal cuando se cambie la cantidad manualmente
            quantityInput.addEventListener('input', function() {
                let quantity = parseInt(quantityInput.value); // Siempre usa un número
                let subtotal = quantity * price;
                subtotalSpan.textContent = `Subtotal: ${subtotal} CUP`; // Muestra el subtotal
            });
        });
    </script>
{% endblock %}