{% extends "base.html" %}

{% block title %}
	Login - CuBaro
{% endblock %}

{% block content %}
<div class="row justify-content-center mt-0">
	<img id="logoAnimated" src="{{ url_for('static', filename='img/logoo.png') }}" height="100" width="150">
  </div>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card mt-2">
				<div class="card-header bg-primary text-white text-center">
					<h3>Iniciar Sesión en CuBaro</h3>
				</div>
				{% with msgs = get_flashed_messages(with_categories=True) %}
				{% for c, msg in msgs %}
					<div class="{% if c == 'error' %}flash-error{% else %}success{% endif %}">
						{{ msg | safe }}
					</div><br>
				{% endfor %}
				{% endwith %}
				<div class="card-body">
					<form method="POST">
						{{ form.hidden_tag() }}
						
						<div class="form-group">
							{{ form.email.label }}
							{{ form.email(class="form-control") }}
						</div>

						<div class="form-group position-relative">
							{{ form.password.label }}
							{{ form.password(class="form-control", id="loginPassword") }}
							<span onclick="togglePassword('loginPassword', 'iconLogin')" style="cursor:pointer; position:absolute; top:38px; right:15px; color:rgb(14, 66, 238);">
								<i class="fa fa-eye toggle-icon" id="iconLogin" title="Mostrar contraseña"></i>
							</span>
						</div>

						<div class="form-group text-center">
							{{ form.submit(class="btn btn-primary") }}
						</div>

						<p class="text-center mt-2">
							<a href="{{ url_for('forgot_password') }}" class="btn btn-outline-warning btn-sm px-3 shadow-sm">¿Olvidaste tu contraseña?</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}