{% extends "base.html" %}

{% block title %}
Restablecer contraseña - CuBaro
{% endblock %}

{% block content %}
<div class="row justify-content-center mt-0">
    <img id="logoAnimated" src="{{ url_for('static', filename='img/logoo.png') }}" height="100" width="150">
  </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-3">
                    <div class="card-header bg-info text-white text-center">
                        <h3>Establece tu nueva contraseña</h3>
                    </div>
                    {% with msgs = get_flashed_messages(with_categories=True) %}
                    {% for c, msg in msgs %}
                        <div class="{% if c == 'error' %}flash-error{% else %}success{% endif %}">
                            {{ msg | safe }}
                        </div>
                    {% endfor %}
                    {% endwith %}
                    <div class="card-body">
                        <form method="POST">
                            <div class="form-group position-relative">
                                <label for="password">Nueva contraseña</label>
                                <input type="password" name="password" id="password" class="form-control" required>
                                <span onclick="togglePassword('password', 'toggleIcon')" class="position-absolute" style="top: 38px; right: 15px; cursor: pointer; color:rgb(14, 66, 238);">
                                    <i class="fa fa-eye toggle-icon" id="toggleIcon" title="Mostrar contraseña"></i>
                                </span>
                            </div>
                            <button type="submit" class="btn btn-success mt-3 w-100">Restablecer contraseña</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}